@charset "utf-8";

#box{
	position: relative;
	width: 720px;
	height: 344px;
	border: 1px solid black;
	margin: 50px auto;
	overflow: hidden;
}
#imgbox {
	position: absolute;
	width: 720px;
	height: 344px;
	background: red;
	top: 0;
	left: 0;
}
#imgbox img{
	position: absolute;
	left:0px;
	top: 0;
	display: none;
}